.add-plante-dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-plante-dialog-dialog {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px; /* Ajustez la largeur si nécessaire */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-plante-dialog-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.add-plante-dialog-textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
    resize: vertical;
}

.add-plante-dialog-buttons {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.add-plante-dialog-error {
    color: red;
    margin-bottom: 10px;
}

.add-plante-dialog-address-section {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.add-plante-dialog-create-button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #28a745;
    color: #fff;
    cursor: pointer;
}

.add-plante-dialog-address-form {
    margin-bottom: 10px;
}

.add-plante-dialog-create-address-button {
    padding: 10px 20px;
    border-radius: 4px;
    border: none;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
}