.img-preview {
    width: 200px;
    height: 200px;
    border-radius: 10%;
  }

  .plante-image {
    max-width: 100%;
    max-height: 400px;
    border-radius: 10px;
    margin-bottom: 20px;
    object-fit: cover;
}
.profile-avatar {
  width: 60px;
  height: 60px;
  border-radius: 60%;
  cursor: pointer;
}
.profile-avatar2 {
  width: 30px;
  height: 30px;
  border-radius: 60%;
  cursor: pointer;
}

.logo-container {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: transparent;
}

.logo {
  height: 70px;
  width: auto;
  padding: 0;
  margin: 0;
  object-fit: contain;
  background-color: transparent;
}